<!DOCTYPE html>
<html>
<head>
	{% load static %}

	{% load crispy_forms_tags %}
	<title>Registro | Kuma!</title>
	<link rel="stylesheet" type="text/css" href="css/style-registro.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'CSS/style-registro.css' %}">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="{% static 'img/wave.png'%}">
	<div class="container">
		<div class="img">
		</div>
		<div class="register-content">
			<form action="#" id="formulario" enctype="multipart/form-data" method="post"> 
				{% csrf_token %}
				<h2 class="title">Crear una cuenta</h2>
				
           		
			  	{{form | crispy}}
			  <input type="submit" class="btn" value="Registrarse">
            </form>
        </div>

    <!--<script type="text/javascript" src="{% static 'js/registro.js'%}"></script>-->
</body>
</html>
